#one{
    height:150px;
    width:150px;
    background-color:cornflowerblue;
    border:2px solid black;
}
#btn{
    background-color:deeppink;
    height:60px;
    width:100px;
}
#toggle{
    background-color:green;
    height:60px;
    width:100px;
}